.buorg {
    z-index: 9999999 !important;
    width: 100% !important;
    top: 0px !important;
    right: 0 !important;
    left: 0px !important;
    border-bottom: 1px solid #eee !important;
    text-align: center !important;
    color: #333 !important;
    background-color: #FFEED0 !important;
    font: 16px arial !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02) !important;
    animation: 1s ease-out 0s buorgfly !important;
}

.buorg-pad {
    padding: 9px;
    line-height: 1.7em;
}

.buorg-buttons {
    display: block;
    text-align: center;
}

#buorgig, #buorgul, #buorgpermanent {
    color: #333 !important;
    text-decoration: underline !important;
    cursor: pointer !important;
    box-shadow: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
    font-weight: normal !important;
    background: transparent !important;
    white-space: nowrap !important;
    margin: 0 2px !important;
    display: inline-block !important;
}

#buorgig {
    background-color: #edbc68;
}

@media only screen and (max-width: 700px) {
    .buorg div {
        padding: 5px 12px 5px 9px;
        line-height: 1.3em;
    }
}

@keyframes buorgfly {
    from {
        opacity: 0;
        transform: translateY(-50px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

.buorg-fadeout {
    transition: visibility 0s 8.5s, opacity 8s ease-out .5s;
}

.buorg-icon {
    width: 22px;
    height: 16px;
    vertical-align: middle;
    position: relative;
    top: -0.05em;
    display: inline-block;
    background: no-repeat 0px center;
}