@import 'util/util';

// 1. Global
// ---------

$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$lightest-gray: #bbbbbb;
$lighten-gray: #f4f5f7;
$light-gray: #fafafa;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$darker-gray: #525659;
$metal: #c1c7d0;
$black: #000000;
$white: #fefefe;
$green: #008000;
$red: #cc4b37;
$body-background: $darker-gray;
$body-font-color: $black;
$body-font-family: 'Roboto', sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-position: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-menu-padding: 0.7rem 1rem;
$global-menu-nested-margin: 1rem;
$global-text-direction: ltr;
$global-flexbox: true;
$global-prototype-breakpoints: false;
$global-button-cursor: auto;
$global-color-pick-contrast-tolerance: 0;
$print-transparent-backgrounds: true;

@include add-foundation-colors;
$print-hrefs: true;

body {
  font-size: 14px;
}

ul {
  margin-bottom: 0 !important;
  li {
    ul {
      margin-top: 14px;
    }
  }
}