@include b(title) {
    font-weight: 700;
    @include m(h2) {
        font-size: 20px;
    }
    @include m(h3) {
        font-size: 17px;
    }
}

@include b(text) {
    font-weight: 400;
    @include m(md) {
        font-size: 14px;
    }
    @include m(bold) {
        font-weight: 500;
    }
    @include m(bolder) {
        font-weight: 700;
    }
    @include m(light) {
        color: #888888;
    }
    @include m(success) {
        color: $green;
    }
    @include m(alert) {
        color: $red;
    }
}

@include b(header) {
    @include flex;
    @include flex-align(left, top);
    font-size: 12px;
    box-sizing: border-box;
    @include e(layout) {
        @include flex;
        flex: 0 0 auto;
        margin-right: 12px;
        @include m(rtl) {
            flex: 1 1 auto;
            @include flex-align(right, middle);
        }
        &:last-child {
            margin-right: 0;
        }
    }
    @include e(section) {
        @include flex;
        @include flex-direction(column);
        @include flex-align(left, top);
    }
}

@include b(logo) {
    width: 50px;
    height: 50px;
}

@include b(stamp) {
    width: 90px;
    height: 90px;
}

@include b(index) {
    @include e(suptitle) {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 12px;
    }
    @include e(title) {
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 64px;
    }
    @include e(header) {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 24px;
    }
}

@include b(list) {
    @include flex;
    @include flex-direction(column);
    @include flex-align(left, top);
    list-style: none;
    margin: 0;
    padding: 0;
    @include e(layout) {
        flex: 0 0 auto;
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 14px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include m(horizontal) {
        @include flex;
        @include flex-direction(row);
        @include flex-align(left, middle);
        flex-wrap: wrap;
        @include e(layout) {
            margin-right: 40px;
            margin-bottom: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

table {
    width: 100%;
    border: solid 1px $metal;
    border-collapse: collapse;
    color: #000;
    th {
        background-color: $lighten-gray;
        font-weight: 500;
    }
    th, td {
        vertical-align: top;
        text-align: left;
        padding: 8px;
        border: solid 1px $metal;
        // font-weight: 500;
    }
}

@include b(table) {
    // table-layout: fixed;
    // @include m(contracts) {
    //     th, td {
    //         &:nth-child(1) {
    //             width: 25%;
    //         }
    //         &:nth-child(2) {
    //             width: 20%;
    //         }
    //         &:nth-child(3) {
    //             width:15%;
    //         }
    //         &:nth-child(4) {
    //             width: 20%;
    //         }
    //         &:nth-child(5) {
    //             width: 20%;
    //         }
    //     }
    // }
    // @include m(2cols) {
    //     td {
    //         &:nth-child(1) {
    //             width: 180px;
    //         }
    //     }
    // }
    @include m(unreability) {
        td {
            &:nth-child(2) {
                width: 60px;
                text-align: center;
            }
        }
    }
}