@include b(layout) {
    @include flex;
    @include flex-direction(column);
    width: 790px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: $white;
    box-sizing: border-box;
    @include e(header) {
        flex: 0 0 auto;
        background-color: $light-gray;
        padding: 18px 24px;
        margin-bottom: 16px;
    }
    @include e(body) {
        flex: 1 1 auto;
        padding: 16px 24px;
    }
    @include e(footer) {
        flex: 0 0 auto;
        padding: 16px 24px;
    }
    
    @include m(index) {
        @include e(body) {
            position: relative;
            padding: 72px 78px;
       }
       @include e(stamp) {
           position: absolute;
           right: 130px;
           top: 60%;
       }
    }

    @include e(section) {
        margin-bottom: 44px;
        @include m(sm) {
            margin-bottom: 22px;
        }
    }

    @include e(breadcrumbs) {
        padding: 0 24px;
        font-size: 12px;
        color: $lightest-gray;
        margin-bottom: 16px;
    }
    @include e(block) {
        margin-bottom: 22px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@include b(section) {
    @include e(layout) {
        @include flex;
        @include flex-direction(row);
        @include flex-align(left, top);
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include e(block) {
        flex: 0 0 40%;
        &:last-child {
            flex: 1 1 auto;
        }
    }
    @include e(title) {
        font-weight: 500;
    }
    @include e(description) {
        color: #888888;
    }
    @include m(list) {
        @include e(layout) {
            @include flex;
            @include flex-direction(column);
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}