<div class="layout layout--index">
  <div class="layout__header">
    {{> _header }}
  </div>
  <div class="layout__body">
    <div class="index">
      <div class="index__suptitle">
        Отчет о компании:
      </div>
      <div class="index__title">
        РЕДПРАЙС, ТОО
      </div>
      <div class="index__header">
        Содержание отчета
      </div>
      <ul class="list list--index-contents">
        <li class="list__layout">
          Сводная информация
        </li>
        <li class="list__layout">
          Факторы риска
          <ul>
            <li class="list__layout">
              Деятельность
            </li>
            <li class="list__layout">
              Банкротство
            </li>
            <li class="list__layout">
              Закупки
            </li>
            <li class="list__layout">
              Руководитель
            </li>
            <li class="list__layout">
              Учредители
            </li>
          </ul>
        </li>
        <li class="list__layout">
          Финансы
        </li>
        <li class="list__layout">
          Судебные разбирательства
        </li>
        <li class="list__layout">
          Аффиоированность (ДФО)
        </li>
        <li class="list__layout">
          Госконтракты
        </li>
        <li class="list__layout">
          Лицензии
        </li>
        <li class="list__layout">
          История участия в закупках
        </li>
        <li class="list__layout">
          История изменений
        </li>
        <li class="list__layout">
          Дополнительная информация
        </li>
      </ul>
    </div>
    <div class="layout__stamp">
      <img class="stamp" src="../assets/img/stamp.png" alt="">
    </div>
  </div>
  <div class="layout__footer">
    {{!-- footer --}}
  </div>
</div>

<div class="layout">
  <div class="layout__header">
    {{> _header }}
  </div>
  <div class="layout__breadcrumbs">
    Отчет о компании - Сводная информация
  </div>
  <div class="layout__body">
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Реквизиты
      </div>
      <div class="layout__block">
        <ul class="list list--horizontal">
          <li class="list__layout">
            БИН: 110240020491 
          </li>
          <li class="list__layout">
            ОКПО: 51160691
          </li>
          <li class="list__layout">
            ОКЭД: 63120
          </li>
        </ul>
      </div>
      <div class="layout__block">
        <div class="section">
          <div class="section__layout">
            <div class="section__block">
              <span class="text text--light">Статус</span>
            </div>
            <div class="section__block">
              <span class="text text--success text--bold">Действующее предприятие</span><br>
              <span class="text text--alert text--bold">На стадии ликвидации</span>
            </div>
          </div>
          <div class="section__layout">
            <div class="section__block">
              <div class="text text--light">
                Первичная регистрация
              </div>
            </div>
            <div class="section__block">
              24.02.2011
            </div>
          </div>
          <div class="section__layout">
            <div class="section__block">
              <div class="text text--light">
                Последняя перерегистрация
              </div>
            </div>
            <div class="section__block">
              24.02.2016
            </div>
          </div>
          <div class="section__layout">
            <div class="section__block">
              <div class="text text--light">
                Юридический адрес
              </div>
            </div>
            <div class="section__block">
              город Алматы, Бостандыкский Район, Улица Байзакова, 280
            </div>
          </div>
          <div class="section__layout">
            <div class="section__block">
              <div class="text text--light">
                Сфера деятельности
              </div>
            </div>
            <div class="section__block">
              Веб-порталы
            </div>
          </div>
          <div class="section__layout">
            <div class="section__block">
              <div class="text text--light">
                Количество сотрудников
              </div>
            </div>
            <div class="section__block">
              от 101 до 150 чел.
            </div>
          </div>
          <div class="section__layout">
            <div class="section__block">
              <div class="text text--light">
                Номер телефона
              </div>
            </div>
            <div class="section__block">
              8 (7172) 220-03-20
            </div>
          </div>
          <div class="section__layout">
            <div class="section__block">
              <div class="text text--light">
                E-mail
              </div>
            </div>
            <div class="section__block">
              company@mail.kz
            </div>
          </div>
          <div class="section__layout">
            <div class="section__block">
              <div class="text text--light">
                Сайт
              </div>
            </div>
            <div class="section__block">
              www.company.kz
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Директор
      </div>
      <div class="layout__block">
        <div class="section">
          <div class="section__title">
            Гребенщикова Екатерина Александровна
          </div>
          <div class="section__description">
            Дата назначения руководителя 01.06.2018
          </div>
        </div>
      </div>
    </div>
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Учредители
        <span class="text text--md text--light">
          (По состоянию на 23.10.2019)
        </span>
      </div>
      <div class="layout__block">
        <div class="section section--list">
          <div class="section__layout">
            <div class="section__title">
              Товарищество с ограниченной ответственностью "Chocofamily Holding" 
            </div>
          </div>
          <div class="section__layout">
            <div class="section__title">
              Петров Василий Иванович
            </div>
          </div>
          <div class="section__layout">
            <div class="section__title">
              Кравцов Виталий Борисович
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Филиалы
      </div>
      <div class="layout__block">
        <div class="section section--list">
          {{#repeat 3}}
          <div class="section__layout">
            <div class="section__title">
              ПРЕДСТАВИТЕЛЬСТВО ТОВАРИЩЕСТВА С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "РЕДПРАЙС" 
            </div>
            <div class="layout__description">
              город Шымкент, Аль-Фарабийский Район, Улица Ахмет Байтұрсынов, д. 18А
            </div>
          </div>
          {{/repeat}}
        </div>
      </div>
    </div>
  </div>
  <div class="layout__footer">
    {{!-- footer --}}
  </div>
</div>


<div class="layout">
  <div class="layout__header">
    {{> _header }}
  </div>
  <div class="layout__breadcrumbs">
    Отчет о компании - Факторы риска
  </div>
  <div class="layout__body">
    <div class="layout__block title title--h2">
      Факторы риска
    </div>
    <div class="layout__section layout__section--sm">
      <div class="layout__block title title--h3">
        Деятельность
      </div>
    </div>
    <div class="layout__section">
      <div class="layout__block">
        <table class="table table--unreability">
          <thead>
            <tr>
              <td>В списке должников, временно ограниченных на выезд из РК</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Наличие в реестре лжепредпринимателей</td>
              <td><span class="text text--success text--bold">
                Нет
              </span></td>
            </tr>
            <tr>
              <td>Налогоплательщики, сделки (операции) с которыми совершены без фактического выполнения работ, оказания услуг, отгрузки товаров</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Исполнительные производства</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Налоговая задолженность</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Задолженность по налогам и таможенным платежам</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Реестр торгов арестованного имущества</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="layout__section layout__section--sm">
      <div class="layout__block title title--h3">
        Банкротсво
      </div>
    </div>
    <div class="layout__section">
      <div class="layout__block">
        <table class="table table--unreability">
          <thead>
            <tr>
              <td>Объявление о возбуждении дела о реабилитации</td>
              <td><span class="text text--alert text--bold">Да</span></td>
            </tr>
            <tr>
              <td>Объявления о применения реабилитационной процедуры и приема требований временным администратором</td>
              <td><span class="text text--success text--bold">
                Нет
              </span></td>
            </tr>
            <tr>
              <td>Объявления о проведении собрания кредиторов в реабилитационной процедуре</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Объявления о возбуждении дела о банкротстве и порядке заявления требований кредиторами временному управляющему</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Объявления о признании банкротом и ликвидации с возбуждением процедуры банкротства</td>
              <td><span class="text text--alert text--bold">Да</span></td>
            </tr>
            <tr>
              <td>Объявления о проведении собрания кредиторов в процедуре банкротства</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>В реестре банкротов</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="layout__section layout__section--sm">
      <div class="layout__block title title--h3">
        Закупки
      </div>
    </div>
    <div class="layout__section">
      <div class="layout__block">
        <table class="table table--unreability">
          <thead>
            <tr>
              <td>Недобросовестный участник Государственных закупок</td>
              <td><span class="text text--alert text--bold">Да</span></td>
            </tr>
            <tr>
              <td>Недобросовестный поставщик закупок Самрук-Казына</td>
              <td><span class="text text--success text--bold">
                Нет
              </span></td>
            </tr>
            <tr>
              <td>«Нарушения Закона РК «О недрах и недропользовании»</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="layout__section layout__section--sm">
      <div class="layout__block title title--h3">
        Руководитель
      </div>
    </div>
    <div class="layout__section">
      <div class="layout__block">
        <table class="table table--unreability">
          <thead>
            <tr>
              <td colspan="2">
                <span class="text text--bolder">Тулебаев Даурен Онгарбекович</span>
              </td>
            </tr>
            <tr>
              <td>Задолженность по алиментам</td>
              <td><span class="text text--success text--bold">
                Нет
              </span></td>
            </tr>
            <tr>
              <td>Должники/ответчики по исполнительным производствам</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>В списке должников, временно ограниченных на выезд из РК</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Связаны с финансированием терроризма</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Розыск без вести пропавших лиц</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Уголовный розыск</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>В базе педофилов</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Розыск должников/ответчиков по исполнительным документам</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Имеет налоговые задолженности</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="layout__section layout__section--sm">
      <div class="layout__block title title--h3">
        Учредители
      </div>
    </div>
    <div class="layout__section">
      {{#repeat 3}}
      <div class="layout__block">
        <table class="table table--unreability">
          <thead>
            <tr>
              <td colspan="2"><span class="text text--bolder">Тулебаев Даурен Онгарбекович</span></td>
            </tr>
            <tr>
              <td>Задолженность по алиментам</td>
              <td><span class="text text--success text--bold">
                Нет
              </span></td>
            </tr>
            <tr>
              <td>Должники/ответчики по исполнительным производствам</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>В списке должников, временно ограниченных на выезд из РК</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Связаны с финансированием терроризма</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Розыск без вести пропавших лиц</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Уголовный розыск</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>В базе педофилов</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Розыск должников/ответчиков по исполнительным документам</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
            <tr>
              <td>Имеет налоговые задолженности</td>
              <td><span class="text text--success text--bold">Нет</span></td>
            </tr>
          </thead>
        </table>
      </div>
      {{/repeat}}
    </div>
  </div>
  <div class="layout__footer">
    {{!-- footer --}}
  </div>
</div>

<div class="layout">
  <div class="layout__header">
    {{> _header }}
  </div>
  <div class="layout__breadcrumbs">
    Отчет о компании - Финансы
  </div>
  <div class="layout__body">
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Финансы
      </div>
      <div class="layout__block">
        <table class="table table--2cols">
          <thead>
            <tr>
              <td>Плательщик НДС</td>
              <td>Является плательщиком НДС с 01.12.2011</td>
            </tr>
            <tr>
              <td>Сумма отчислений с 2011 года</td>
              <td>1 228 149 821.90 ₸</td>
            </tr>
            <tr>
              <td>В среднем в год</td>
              <td>136 461 091.32 ₸</td>
            </tr>
            <tr>
              <td>Максимум зафиксировано в 2016 г</td>
              <td>418 990 356.65 ₸</td>
            </tr>
            <tr>
              <td>Степень риска налогоплательщика</td>
              <td>Низкая степень риска (01.04.2019)</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Налоговые отчисления по годам
      </div>
      <div class="layout__block">
        <table class="table table--2cols">
          <thead>
            <tr>
              <td>2019</td>
              <td>215 557 520.00 ₸</td>
            </tr>
            <tr>
              <td>2018</td>
              <td>215 557 520.00 ₸</td>
            </tr>
            <tr>
              <td>2017</td>
              <td>215 557 520.00 ₸</td>
            </tr>
            <tr>
              <td>2016</td>
              <td>418 990 356.65 ₸</td>
            </tr>
            <tr>
              <td>2015</td>
              <td>215 557 520.00 ₸</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="layout__footer">
    {{!-- footer --}}
  </div>
</div>

<div class="layout">
  <div class="layout__header">
    {{> _header }}
  </div>
  <div class="layout__breadcrumbs">
    Отчет о компании - Судебные разбирательства
  </div>
  <div class="layout__body">
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Судебные разбирательства
      </div>
      <div class="layout__block">
        <ul class="list list--horizontal">
          <li class="list__layout">
            Административные: 0
          </li>
          <li class="list__layout">
            Уголовные:  0
          </li>
          <li class="list__layout">
            Гражданские: 4
          </li>
        </ul>
      </div>
    </div>
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Гражданские дела (последние 10)
      </div>
      {{#repeat 4}}
      <div class="layout__block">
        <table class="table">
          <thead>
            <tr>
              <th>Дата и номер</th>
              <th>Стороны процесса</th>
              <th>Орган</th>
              <th>Категория дела</th>
              <th>Результат рассмотрения</th>
            </tr>
            <tr>
              <td>14.01.2019<br>7527-18-00-2/26129</td>
              <td>КВЕНЦЕР ОЛЕГ ВИКТОРОВИЧ, Товарищество с ограниченной ответственностью "Бақ-Нұр Инвест"</td>
              <td>Специализированный межрайонный экономический суд города Алматы (Гражданские дела (ч.1 ст.27 ГПК))</td>
              <td>СПОРЫ, СВЯЗАННЫЕ С ЗАКЛЮЧЕНИЕМ, ИЗМЕНЕНИЕМ, РАСТОРЖЕНИЕМ ДОГОВОРА (СДЕЛКИ) И ИСПОЛНЕНИЕМ ДОГОВОРНЫХ ОБЯЗАТЕЛЬСТВ</td>
              <td>иск (заявление, жалоба) удовлетворен частично</td>
            </tr>
          </thead>
        </table>
      </div>
      {{/repeat}}
    </div>
  </div>
  <div class="layout__footer">
    {{!-- footer --}}
  </div>
</div>

<div class="layout">
  <div class="layout__header">
    {{> _header }}
  </div>
  <div class="layout__breadcrumbs">
    Отчет о компании - Аффиоированность (ДФО)
  </div>
  <div class="layout__body">
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Аффиоированность (ДФО)
      </div>
      <div class="layout__block">
        <ul class="list list--horizontal">
          <li class="list__layout">
            Акционер: 1
          </li>
          <li class="list__layout">
            Член совета директоров:  0
          </li>
          <li class="list__layout">
            Входит в исполнительный орган: 1
          </li>
          <li class="list__layout">
            Взаимосвязи: 28
          </li>
          <li class="list__layout">
            Аффилированное лицо: 0
          </li>
          <li class="list__layout">
            Профессиональный бухгалтер: 0
          </li>
        </ul>
      </div>
    </div>
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Акционер
      </div>
      <div class="layout__block">
        <table class="table table--2cols">
          <thead>
            <tr>
              <td>ФИО/Наименование</td>
              <td>PMTL Netherlands B.V.</td>
            </tr>
            <tr>
              <td>Тип лица</td>
              <td>ЮЛ</td>
            </tr>
            <tr>
              <td>Признак резидентства</td>
              <td>Нерезидент</td>
            </tr>
            <tr>
              <td>Доля (%)</td>
              <td>100</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Взаимосвязи (первые 10)
      </div>
      {{#repeat 10}}
      <div class="layout__block">
        <table class="table table--2cols">
          <thead>
            <tr>
              <td>Тип</td>
              <td>422</td>
            </tr>
            <tr>
              <td>Год</td>
              <td>2018</td>
            </tr>
            <tr>
              <td>Дата загрузки</td>
              <td>16-08-2019</td>
            </tr>
            <tr>
              <td>Наименование</td>
              <td>ТОВАРИЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ  "INTER GOLD CAPITAL" (ИНТЕР ГОЛД КАПИТАЛ)</td>
            </tr>
            <tr>
              <td>Раздел</td>
              <td>Профиль (Главный бухгалтер)</td>
            </tr>
          </thead>
        </table>
      </div>
      {{/repeat}}
    </div>
    <div class="layout__section">
      <div class="layout__block title title--h2">
        Входит в исполнительный орган (первые 10)
      </div>
      <div class="layout__block">
        <table class="table table--2cols">
          <thead>
            <tr>
              <td>Наименование компании/ФИО</td>
              <td>Исаев Кенбеийл Ордабаевич</td>
            </tr>
            <tr>
              <td>Позиция</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Номер решения об избрании</td>
              <td>Б/Н</td>
            </tr>
            <tr>
              <td>Дата решения об избрании</td>
              <td>27-12-2018</td>
            </tr>
            <tr>
              <td>Курируемые вопросы</td>
              <td>-</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="layout__footer">
    {{!-- footer --}}
  </div>
</div>

<div class="layout">
  <div class="layout__header">
    {{> _header }}
  </div>
  <div class="layout__breadcrumbs">
    Отчет о компании - Госконтракты
  </div>
  <div class="layout__body">
    <div class="layout__block title title--h2">
      Госконтракты
    </div>
    <div class="layout__section layout__section--sm">
      <div class="layout__block">
        <ul class="list list--horizontal">
          <li class="list__layout">
            Всего найдено: 12 
          </li>
          <li class="list__layout">
            Отображено последние: 10
          </li>
        </ul>
      </div>
    </div>
    <div class="layout__section">
      {{#repeat 5}}
      <div class="layout__block">
        <table class="table">
          <thead>
            <tr>
              <th>№</th>
              <th>Договор</th>
              <th>Сумма</th>
              <th>Описание</th>
              <!-- <th>Способ закупки</th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>081240003810/180235/00</td>
              <td>Основной договор<br>2018-10-16 17:03:25<br>Действует</td>
              <td>348 822</td>
              <td>Проверка благонадежности контрагента</td>
              <!-- <td>Из одного источника путем прямого заключения договора</td> -->
            </tr>
          </tbody>
        </table>
      </div>
      {{/repeat}}
    </div>
  </div>
  <div class="layout__footer">
    {{!-- footer --}}
  </div>
</div>

<div class="layout">
  <div class="layout__header">
    {{> _header }}
  </div>
  <div class="layout__breadcrumbs">
    Отчет о компании - Лицензии
  </div>
  <div class="layout__body">
    <div class="layout__block title title--h2">
      Лицензии
    </div>
    <div class="layout__section layout__section--sm">
      <div class="layout__block">
        <ul class="list list--horizontal">
          <li class="list__layout">
            Всего найдено: 7 
          </li>
          <li class="list__layout">
            Отображено последние: 10
          </li>
        </ul>
      </div>
    </div>
    <div class="layout__section">
      {{#repeat 5}}
      <div class="layout__block">
        <table class="table">
          <thead>
            <tr>
              <th>№ документа</th>
              <th>Дата выдачи</th>
              <th>Вид деятельности</th>
              <th>Статус</th>
            </tr>
            <tr>
              <td>19013616</td>
              <td>27.06.2019</td>
              <td>На осуществление деятельности по разработке, производству, ремонту и реализации специальных технических средств, предназначенных для проведения оперативно-розыскных мероприятий</td>
              <td>Действителен</td>
            </tr>
          </thead>
        </table>
      </div>
      {{/repeat}}
    </div>
  </div>
  <div class="layout__footer">
    {{!-- footer --}}
  </div>
</div>

<div class="layout">
  <div class="layout__header">
    {{> _header }}
  </div>
  <div class="layout__breadcrumbs">
    Отчет о компании - Участие в закупках
  </div>
  <div class="layout__body">
    <div class="layout__block title title--h2">
      Участие в закупках
    </div>
    <div class="layout__section layout__section--sm">
      <div class="layout__block">
        <ul class="list list--horizontal">
          <li class="list__layout">
            Всего найдено: 12 
          </li>
          <li class="list__layout">
            Отображено последние: 10 (сначала те, в которых одержана победа)
          </li>
        </ul>
      </div>
    </div>
    <div class="layout__section">
      {{#repeat 5}}
      <div class="layout__block">
        <table class="table">
          <thead>
            <tr>
              <th>Наименование</th>
              <!-- <th>Город</th> -->
              <!-- <th>Площадка</th> -->
              <th>Цена</th>
              <th>Количество</th>
              <th>Категория</th>
              <!-- <th>Опубликовано</th> -->
              <!-- <th>Статус</th> -->
            </tr>
            <tr>
              <td>Услуги информационного мониторинга</td>
              <!-- <td>г. Астана</td> -->
              <!-- <td>Государственные закупки</td> -->
              <td>20 089 285,71</td>
              <td>1 / Одна услуга</td>
              <td>Услуги по организации мониторинга интернет-пространства по выявлению информационных материалов, пропагандирующих идеологию религиозного экстремизма и терроризма</td>
              <!-- <td>24 мая 2017 г., 15:25</td> -->
              <!-- <td>Завершено / Победитель</td> -->
            </tr>
          </thead>
        </table>
      </div>
      {{/repeat}}
    </div>
  </div>
  <div class="layout__footer">
    {{!-- footer --}}
  </div>
</div>

<div class="layout">
  <div class="layout__header">
    {{> _header }}
  </div>
  <div class="layout__breadcrumbs">
    Отчет о компании - История изменений
  </div>
  <div class="layout__body">
    <div class="layout__block title title--h2">
      История изменений
    </div>
    <div class="layout__section layout__section--sm">
      <div class="layout__block">
        <ul class="list list--horizontal">
          <li class="list__layout">
            Всего найдено: 11 
          </li>
          <li class="list__layout">
            Отображено последние: 10
          </li>
        </ul>
      </div>
    </div>
    <div class="layout__section">
      {{#repeat 5}}
      <div class="layout__block">
        <table class="table table--2cols">
          <thead>
            <tr>
              <td>Дата</td>
              <td>28.01.2015</td>
            </tr>
            <tr>
              <td>Событие</td>
              <td>Первичная регистрация</td>
            </tr>
            <tr>
              <td>Наименование</td>
              <td>Товарищество с ограниченной ответственностью "Kazdream"</td>
            </tr>
            <tr>
              <td>Вид деятельности</td>
              <td>Разработка программного обеспечения</td>
            </tr>
            <tr>
              <td>Первый руководитель</td>
              <td>ТУЛЕБАЕВ ДАУРЕН ОНГАРБЕКОВИЧ</td>
            </tr>
            <tr>
              <td>Кол-во Уч.</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Учредители</td>
              <td>
                <ul>
                  <li>
                    841126350851 ТУЛЕБАЕВ ДАУРЕН ОНГАРБЕКОВИЧ
                  </li>
                  <li>
                    841126350851 ТУЛЕБАЕВ ДАУРЕН ОНГАРБЕКОВИЧ
                  </li>
                  <li>
                    841126350851 ТУЛЕБАЕВ ДАУРЕН ОНГАРБЕКОВИЧ
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Юр. Адрес</td>
              <td>КАЗАХСТАН, ГОРОД АСТАНА, РАЙОН ЕСИЛЬ, УЛИЦА ОРЫНБОР,  дом 22, кв 95, почтовый индекс 010016</td>
            </tr>
          </thead>
        </table>
      </div>
      {{/repeat}}
    </div>
  </div>
  <div class="layout__footer">
    {{!-- footer --}}
  </div>
</div>
