<div class="header">
    <div class="header__layout">
      <img class="logo" src="../assets/img/logo.png" alt="">
    </div>
    <div class="header__layout">
      <div class="header__section">
        <div class="header__row">
          Отчет о контрагенте:
        </div>
        <div class="header__row">
          <span class="text text--bolder">РЕДПРАЙС, ТОО</span>
        </div>
        <div class="header__row">
          БИН: 110240020491
        </div>
      </div>
    </div>
    <div class="header__layout header__layout--rtl">
      <div class="header__section">
        <div class="header__row">
          Отчет сформирован: 04.11.2019 14:59
        </div>
        <div class="header__row">
          https://kompra.kz/card/1752192
        </div>
      </div>
    </div>
</div>